.container {
  padding: 0 2rem;
}

.main {
  max-width: 70%;
  margin: auto;
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "user-card work play study "
    "user-card exercise social self-care";
}

.userCard {
  grid-area: user-card;
}

.widget__work {
  grid-area: work;
}

.widget__play {
  grid-area: play;
}

.widget-study {
  grid-area: study;
}

.widget-exercise {
  grid-area: exercise;
}

.widget-social {
  grid-area: social;
}

.widget-self-care {
  grid-area: self-care;
}

/* . @media (max-width: 600px) {
} */
