.container {
  padding: 0 2rem;
}

.main {
  max-width: 70%;
  margin: auto;
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "user-card work play study "
    "user-card exercise social self-care";
}

.userCard {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  color: #fff;
  grid-area: user-card;
}

.userCard__header {
  background-color: hsl(235, 45%, 61%);
  border-radius: 1rem;
  padding: 1em;
}

.userCard__timeframe {
  list-style: none;
  margin: 0;
  padding: 0;
}

.userCard__timeframe button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.widget__work {
  grid-area: work;
}

.widget__play {
  grid-area: play;
}

.widget-study {
  grid-area: study;
}

.widget-exercise {
  grid-area: exercise;
}

.widget-social {
  grid-area: social;
}

.widget-self-care {
  grid-area: self-care;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* . @media (max-width: 600px) {
} */
